
#  v2
streamlit
pandas
langchain_google_genai
# langchain>=0.2.0
langchain==0.1.20 # Kunci versi LangChain ke 0.1.20
langchain_community
faiss-cpu
langchain_text_splitters
python-dotenv
langgraph
langchain_core

